# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build/cache
bin/
backend/bin/

# Env
.env
backend/.env

# Logs
*.log

# IDE
.vscode/
.idea/

# Temp
*.tmp
*.swp
